streamlit
langchain
langchain-community
langchain-core
langchain-mistralai
langchain-classic
openpyxl
sentence-transformers
faiss-cpu
#pip install streamlit langchain langchain-community langchain-core langchain-mistralai openpyxl sentence-transformers faiss-cpu pandas
